.elementor-2 .elementor-element.elementor-element-4287ae12:not(.elementor-motion-effects-element-type-background), 
.elementor-2 .elementor-element.elementor-element-4287ae12 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#6E0202;}
.elementor-2 .elementor-element.elementor-element-4287ae12{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}
.elementor-2 .elementor-element.elementor-element-4287ae12 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-2 .elementor-element.elementor-element-5478a91 .elementor-repeater-item-d69e37f .swiper-slide-bg{background-color:#FFFFFF;background-image:url(../../2020/12/group-4_403x-scaled.jpg);background-size:cover;}
.elementor-2 .elementor-element.elementor-element-5478a91 .swiper-slide{height:767px;transition-duration:calc(2000ms*1.2);}
.elementor-2 .elementor-element.elementor-element-5478a91 .swiper-slide-contents{max-width:66%;}
.elementor-2 .elementor-element.elementor-element-5478a91 .swiper-slide-inner{padding:0px 0px 115px 35px;text-align:center;}
.elementor-2 .elementor-element.elementor-element-5478a91 > .elementor-widget-container{margin:0px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-6d303a2 .elementor-repeater-item-102e68de .swiper-slide-bg{background-color:#FFFFFF;background-image:url(../../2020/12/group-4_403x-scaled.jpg);background-size:cover;}
.elementor-2 .elementor-element.elementor-element-6d303a2 .swiper-slide{height:767px;transition-duration:calc(2000ms*1.2);}
.elementor-2 .elementor-element.elementor-element-6d303a2 .swiper-slide-contents{max-width:66%;}
.elementor-2 .elementor-element.elementor-element-6d303a2 .swiper-slide-inner{padding:0px 0px 115px 35px;text-align:center;}
.elementor-2 .elementor-element.elementor-element-6d303a2 > .elementor-widget-container{margin:0px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-9658527{text-align:center;}
.elementor-2 .elementor-element.elementor-element-9658527 > .elementor-widget-container{margin:57px 0px 40px 0px;}
.elementor-2 .elementor-element.elementor-element-39ed39c > .elementor-widget-container{margin:0px 0px -40px 0px;}
.elementor-2 .elementor-element.elementor-element-035a11b{text-align:center;}
.elementor-2 .elementor-element.elementor-element-035a11b > .elementor-widget-container{margin:0px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-4e82a98{text-align:center;}
.elementor-2 .elementor-element.elementor-element-4e82a98 > .elementor-widget-container{margin:37px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-5f39261 > .elementor-widget-container{margin:0px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-3e823de9 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}
.elementor-2 .elementor-element.elementor-element-3e823de9:not(.elementor-motion-effects-element-type-background), 
.elementor-2 .elementor-element.elementor-element-3e823de9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#BDA157;background-image:url("../../2020/11/image-3.png");}
.elementor-2 .elementor-element.elementor-element-3e823de9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:155px 0px 100px 0px;}
.elementor-2 .elementor-element.elementor-element-3e823de9 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-2 .elementor-element.elementor-element-1437120a{text-align:center;}
.elementor-2 .elementor-element.elementor-element-1437120a .elementor-heading-title{color:#000000;font-size:65px;font-weight:600;}
.elementor-2 .elementor-element.elementor-element-1437120a > .elementor-widget-container{margin:0px 0px 30px 0px;}
.elementor-2 .elementor-element.elementor-element-5cf8d04 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}
.elementor-2 .elementor-element.elementor-element-5cf8d04{padding:35px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-15acb986 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}
.elementor-2 .elementor-element.elementor-element-15acb986 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-2 .elementor-element.elementor-element-6d9281a2.elementor-position-right .elementor-image-box-img{margin-left:19px;}
.elementor-2 .elementor-element.elementor-element-6d9281a2.elementor-position-left .elementor-image-box-img{margin-right:19px;}
.elementor-2 .elementor-element.elementor-element-6d9281a2.elementor-position-top .elementor-image-box-img{margin-bottom:19px;}
.elementor-2 .elementor-element.elementor-element-6d9281a2 .elementor-image-box-wrapper .elementor-image-box-img{width:100%;}
.elementor-2 .elementor-element.elementor-element-6d9281a2 .elementor-image-box-img img{transition-duration:0.3s;}
.elementor-2 .elementor-element.elementor-element-6d9281a2 .elementor-image-box-content .elementor-image-box-title{color:#000000;font-size:20px;}
.elementor-2 .elementor-element.elementor-element-6d9281a2 .elementor-image-box-content .elementor-image-box-description{color:#bfbfbf;font-size:15px;font-weight:300;text-transform:uppercase;line-height:0.1em;letter-spacing:3px;}
.elementor-2 .elementor-element.elementor-element-2c5a5c11 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}
.elementor-2 .elementor-element.elementor-element-2c5a5c11 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
.elementor-2 .elementor-element.elementor-element-5f9fb2ca.elementor-position-right .elementor-image-box-img{margin-left:19px;}
.elementor-2 .elementor-element.elementor-element-5f9fb2ca.elementor-position-left .elementor-image-box-img{margin-right:19px;}
.elementor-2 .elementor-element.elementor-element-5f9fb2ca.elementor-position-top .elementor-image-box-img{margin-bottom:19px;}
.elementor-2 .elementor-element.elementor-element-5f9fb2ca .elementor-image-box-wrapper .elementor-image-box-img{width:100%;}
.elementor-2 .elementor-element.elementor-element-5f9fb2ca .elementor-image-box-img img{transition-duration:0.3s;}
.elementor-2 .elementor-element.elementor-element-5f9fb2ca .elementor-image-box-content .elementor-image-box-title{color:#000000;font-size:20px;}
.elementor-2 .elementor-element.elementor-element-5f9fb2ca .elementor-image-box-content .elementor-image-box-description{color:#bfbfbf;font-size:15px;font-weight:300;text-transform:uppercase;line-height:0.1em;letter-spacing:3px;}
.elementor-2 .elementor-element.elementor-element-e619eff{text-align:center;}
.elementor-2 .elementor-element.elementor-element-602fd0a .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}
.elementor-2 .elementor-element.elementor-element-602fd0a:after{content:"0.66";}
.elementor-2 .elementor-element.elementor-element-602fd0a .elementor-post__thumbnail__link{width:100%;}
.elementor-2 .elementor-element.elementor-element-602fd0a{--grid-column-gap:30px;--grid-row-gap:35px;}
.elementor-2 .elementor-element.elementor-element-602fd0a.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}
.elementor-2 .elementor-element.elementor-element-602fd0a.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}
.elementor-2 .elementor-element.elementor-element-602fd0a.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}
.elementor-2 .elementor-element.elementor-element-4a59f3e{text-align:left;}

@media(max-width:1024px){.elementor-2 .elementor-element.elementor-element-3e823de9{padding:100px 25px 100px 25px;}
.elementor-2 .elementor-element.elementor-element-1437120a .elementor-heading-title{font-size:45px;}
.elementor-2 .elementor-element.elementor-element-15acb986 > .elementor-element-populated{margin:0px 10px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-2c5a5c11 > .elementor-element-populated{margin:0px 0px 0px 10px;}}

@media(max-width:767px){.elementor-2 .elementor-element.elementor-element-5478a91 .swiper-slide{height:447px;}
.elementor-2 .elementor-element.elementor-element-3e823de9{padding:55px 15px 51px 15px;}
.elementor-2 .elementor-element.elementor-element-1437120a .elementor-heading-title{font-size:45px;}
.elementor-2 .elementor-element.elementor-element-5cf8d04{padding:15px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-15acb986 > .elementor-element-populated{margin:0px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-6d9281a2 .elementor-image-box-img{margin-bottom:19px;}
.elementor-2 .elementor-element.elementor-element-2c5a5c11 > .elementor-element-populated{margin:35px 0px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-5f9fb2ca .elementor-image-box-img{margin-bottom:19px;}
.elementor-2 .elementor-element.elementor-element-602fd0a .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}
.elementor-2 .elementor-element.elementor-element-602fd0a:after{content:"0.5";}
.elementor-2 .elementor-element.elementor-element-602fd0a .elementor-post__thumbnail__link{width:100%;}}

/* Start custom CSS for image-carousel, class: .elementor-element-5f39261 */#home-premium-portfolio .elementor-swiper-button-prev {
    left: -10px;
    bottom: 8px;
}
#home-premium-portfolio .elementor-swiper-button-next {
    right: -10px;
    bottom: 8px;
}/* End custom CSS */